<ng-container *ngIf="task">
  <li class="list-group-item">
    {{ task.name }}
    <button
      type="button"
      class="btn btn-primary"
      (click)="moveLeft(task.id)"
      *ngIf="task.state == state.inProgress || task.state == state.done"
    >
      &lt;
    </button>
    <button
      type="button"
      class="btn btn-primary"
      (click)="moveRight(task.id)"
      *ngIf="task.state == state.toDo || task.state == state.inProgress"
    >
      >
    </button>
    <button
      type="button"
      class="btn btn-danger"
      (click)="removeTask(task.id)"
      *ngIf="task.state == state.toDo"
    >
      X
    </button>
    <div>
      <div [ngClass]="getStyles(task.difficulty)">
        {{ task.difficulty }}
      </div>
    </div>
  </li>
</ng-container>
