.Easy {
  background: green;
  color: white;
  display: inline-block;
}
.Medium {
  background-color: blue;

  color: white;
  display: inline-block;
}
.Hard {
  background-color: red;

  color: white;
  display: inline-block;
}
