<section id="container">
  <section class="form-group row g-5 mb-5">
    <div class="col-sm-2">
      <input type="text" class="form-control" placeholder="Task Name" #input />
    </div>
    <select class="custom-select custom-select-sm col-sm-1" #select>
      <option value="Easy">Easy</option>
      <option value="Medium">Medium</option>
      <option value="Hard">Hard</option>
    </select>
    <div class="col-sm-1">
      <button
        type="submit"
        class="btn btn-primary"
        (click)="addTask(input.value, select.value)"
      >
        Add
      </button>
    </div>
  </section>

  <section class="row justify-content-between">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-header">To-Do</div>
        <ng-container *ngIf="toDo.length; else empty">
          <ul class="list-group list-group-flush" *ngFor="let task of toDo">
            <ng-container *ngIf="task.state == state.toDo">
              <app-task-component
                [task]="task"
                (delete)="removeTaskHandler($event)"
                (right)="moveRightHandler($event)"
                (left)="moveLeftHandler($event)"
              ></app-task-component>
            </ng-container>
          </ul>
        </ng-container>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-header">In Progress</div>
        <ng-container *ngIf="inProgress.length; else empty">
          <ul
            class="list-group list-group-flush"
            *ngFor="let task of inProgress"
          >
            <ng-container *ngIf="task.state == state.inProgress">
              <app-task-component
                [task]="task"
                (delete)="removeTaskHandler($event)"
                (right)="moveRightHandler($event)"
                (left)="moveLeftHandler($event)"
              ></app-task-component>
            </ng-container>
          </ul>
        </ng-container>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-header">Done</div>
        <ng-container *ngIf="done.length; else empty">
          <ul class="list-group list-group-flush" *ngFor="let task of done">
            <ng-container *ngIf="task.state == state.done">
              <app-task-component
                [task]="task"
                (delete)="removeTaskHandler($event)"
                (right)="moveRightHandler($event)"
                (left)="moveLeftHandler($event)"
              ></app-task-component>
            </ng-container>
          </ul>
        </ng-container>
      </div>
    </div>
  </section>
</section>
<ng-template #empty>List is empty</ng-template>
